:root {
  /* Colors */
  --primary: hsl(190, 65%, 50%);
  --primary-dark: hsl(190, 50%, 30%);
  --primary-darker: hsl(190, 30%, 8%);
  --primary-light: hsl(190, 65%, 73%);
  --primary-lighter: hsl(190, 65%, 91%);

  --secondary: hsl(34, 65%, 50%);
  --secondary-dark: hsl(34, 50%, 30%);
  --secondary-darker: hsl(34, 30%, 8%);
  --secondary-light: hsl(34, 65%, 73%);
  --secondary-lighter: hsl(34, 65%, 91%);

  --bg-color: var(--primary-darker);
  --bg-brightness: 25%;
  --text-color: var(--primary-light);
  --primary-btn-bg-color: var(--primary-dark);

  /* button */
  --btn-primary-text-color: var(--primary-lighter);
  --btn-primary-bg-color: var(--primary-dark);
  --btn-primary-hover-border-color: var(--primary);
  --btn-primary-active-bg-color: var(--primary);

  /* card */
  --card-border-color: var(--primary);
  --card-bg-active-color: var(--primary);

  /* footer */
  --footer-bg-color: var(--secondary-darker);
  --footer-icon-color: var(--secondary-dark);
  --footer-icon-active-color: var(--secondary);
}
