body {
  transition-property: color, background-color, filter;
  transition-duration: 300ms;
  transition-timing-function: var(--animation-timing);
}

button:not(:active) {
  transition-property: border-radius, background-color;
  transition-duration: 500ms;
  transition-timing-function: var(--animation-timing);
}

ul>li:not(:active) {
  transition-property: border-radius, background-color;
  transition-duration: 500ms;
  transition-timing-function: var(--animation-timing);
}
