@import url(./elements/button.css);
@import url(./elements/card.css);
@import url(./elements/text.css);
@import url(./elements/footer.css);

:root {
  --primary-radius: 2em;
  --animation-timing: cubic-bezier(0.22, 0.61, 0.36, 1);
  font-family: "Raleway", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  max-width: 600px;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0 auto;
  padding: 1em;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url("https://images.unsplash.com/photo-1621713676371-bfca9ecfcc42?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=10");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px) brightness(var(--bg-brightness));
}

header {
  display: grid;
  grid-template-columns: 75% 25%;
  align-items: stretch;
  justify-content: center;
  position: sticky;
  top: 0;
  /* background-color: var(--bg-color); */
}

icon {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

